
main {
text-align: center;
}
header.centralizando{
    text-align: center;
    background-color: white;
}
footer{
    background-color: #1b357e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
footer div {
    display: flex;
    align-items: center;
    color: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
header{
    display: flex;
    width: 100%;
}
header div {
    width: 10%;
}
header nav{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    margin: 1%;
    color: blue;
    text-decoration:none;
}
.ajustando_espaco{
    display: flex;
    align-items: center;
}
section{
    display: flex;
    width: 100%;
    justify-content:space-around;
}
.caixa{
    display: flex;
    width: 50px;
}
button{
    margin-top: 1%;
    background-color: blue;
    padding: 1% 5%;
    border-radius: 20px;
    color: white;
}
.centralizando_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}
input{
    width: 300px;
    border-radius: 10px;
    height: 35px;
}
select{
    width: 300px;
    border-radius: 10px;
    height: 35px;
}
.alinhamento_do_form{
    display: flex;
    justify-content: center;
}
.botao_enviar{
    padding: 1% 25%;
    border-radius: 10px;
    height: 45px;

}
.ajajja{
    display: flex;
    justify-content: end;

}
.ajustando_sobre_voce{
    display: flex;
    justify-content:baseline
}

.ajustando_sobre_voce p{
     margin: 0%;
}
.imagem_principal{
    width: 80%;
}

@media (max-width: 450px){
    .logo_responsividade img{
        height: 50%;
    }
    header{
        flex-direction: column;
    }
    .centralizando{
        
    }

}